/* Error: Can't find stylesheet to import.
 *   ,
 * 5 | @use './menu/DropdownMenu.scss';
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/components/navbar/dropdown/Dropdown.scss 5:1    @forward
 *   src/components/navbar/_styles/_styles.dev.scss 5:1  @forward
 *   src/components/_styles/_styles.dev.scss 7:1         @forward
 *   src/_styles/_styles.dev.scss 4:1                    @use
 *   src/styles.main.dev.scss 1:1                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 5 \2502  @use './menu/DropdownMenu.scss';\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/components/navbar/dropdown/Dropdown.scss 5:1    @forward\a   src/components/navbar/_styles/_styles.dev.scss 5:1  @forward\a   src/components/_styles/_styles.dev.scss 7:1         @forward\a   src/_styles/_styles.dev.scss 4:1                    @use\a   src/styles.main.dev.scss 1:1                        root stylesheet";
}
