## Basic .gitnore stuff
.env
.history
**__pycache__**

## iCloud stuff
*.icloud*

## Web dev .gitignore stuff
node_modules

## Custom Stuff
*.plsgitignore*

## C++ Template .gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.env *
.gitignore *
Bubble2 React-TS-3js/styles.main.dev.css *.map
Bubble2 React-TS-3js/src/assets/glTF-Sample-Models
