// ---------------------------------------------------------------------------------
// _anchor.scss
// ---------------------------------------------------------------------------------

// Anchor
//  ├─ Base
//  ├─ Active
//  └─ Hovered/focused

@use 'sass:math';
@use '../dependencies/variable' as *;
@use '../dependencies/mixin';




// ---------------------------------------------------------------------------------
// Anchor
// ---------------------------------------------------------------------------------


// Base ----------------------------------------------------------------------------


// Active --------------------------------------------------------------------------


// Hovered/focused -----------------------------------------------------------------

a {
	display: inline-block;
	text-decoration: none;

	&:focus,
	&:hover,
	&:active {
		color: $color--sparkling-apple;
	}
}
