@forward './leftgui/LeftGUI.scss';
@forward './rightgui/RightGUI.scss';
@forward './topnavbar/TopNavbar.scss';

.GUI-wrapper {

}

.GUI-breakpoint-width {
  @media screen and (min-width: 768px) {
    //display: none;
    color: brown;
  }
  &#GUI-right {
    display: flex;
  }
  &#GUI-left {
    display: flex;
  }
}

.GUI-breakpoint-height {
  
}