@forward './leftgui/LeftGUI.scss';
@forward './rightgui/RightGUI.scss';
@forward './topnavbar/TopNavbar.scss';

@use '../styles/LayoutHelper.scss' as deps1;
@use '../threecanvas/Canvas.scss' as threecanvas;

.GUI-wrapper {
  @include deps1.contract
}

.GUI-breakpoint-width {
  @media screen and (max-width: threecanvas.$min-width-breakpoint) {
    display: none;
    color: brown;
  }
}

.GUI-breakpoint-height {
  // Implement for bottom nav bar :)
  display: flex;
}