@charset "UTF-8";
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.text--italic {
	font-style: italic !important;
}

html, body, main, div, span, object, iframe,
header, footer, aside, nav, section, article,
address, legend, code, pre,
ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, p, a, i,
strong, em, sub, sup,
fieldset, figure, figcaption,
form, input, select, textarea, label, button,
table, thead, tfoot, tbody, tr, th, td,
img, audio, video {
	background-color: transparent;
	border: 0;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
}

main, article, aside, details, fieldset,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-moz-selection {
	background-color: rgba(0, 0, 0, 0.1);
	color: hsl(0deg, 0%, 37.5%);
	text-shadow: none;
}

::selection {
	background-color: rgba(0, 0, 0, 0.1);
	color: hsl(0deg, 0%, 37.5%);
	text-shadow: none;
}

a,
button {
	cursor: pointer;
}

:focus-visible::after, :focus::after {
	border: 3px solid hsl(92deg, 47.0588235294%, 48.96%);
	border-radius: 4px;
	-webkit-box-sizing: content-box;
					box-sizing: content-box;
	content: "";
	display: block;
	height: 100%;
	padding: 0.25em;
	position: absolute;
	pointer-events: none;
	right: calc(-3px - 0.25em);
	top: calc(-3px - 0.25em);
	width: 100%;
}

:focus {
	outline: 0;
	position: relative;
}
@supports selector(:focus-visible) {
	:focus::after {
		visibility: hidden;
	}

	:focus-visible::after {
		visibility: visible;
	}
}
.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: "liga";
	-moz-osx-font-smoothing: grayscale;
}

.md-xl {
	font-size: 2.75rem;
}

@font-face {
	font-family: "Helvetica";
	ascent-override: 96.4%;
	descent-override: 22.4%;
	line-gap-override: 0%;
	src: local(Helvetica);
}
h1, h2, h3, p, a, i,
button, ul, li, th, td,
div, span, section, pre,
label, input, textarea {
	color: inherit;
	font-family: inherit;
	-webkit-font-kerning: auto;
					font-kerning: auto;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-variant: common-ligatures;
	line-height: inherit;
}

html {
	color: hsl(0deg, 0%, 37.5%);
	font-family: "Manrope", "Helvetica", serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.75em;
	-webkit-text-size-adjust: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
	html {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
}

html {
	font-size: clamp(
			14px,
			12px + 0.35vw,
			21.328px
		);
}

h1, .h1 {
	font-size: 2rem;
	margin-top: 0.875rem;
	margin-bottom: 0.875rem;
}

h2, .h2 {
	font-size: 1.25rem;
}

p {
	max-width: 28rem;
	vertical-align: bottom;
}

p + p {
	margin-top: 1.75em;
}

.p--lead {
	font-size: 1.25rem;
}

abbr {
	font-variant: none;
	text-decoration: none;
	text-transform: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

.text--light {
	color: #eaeaea;
}

a {
	display: inline-block;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	color: hsl(92deg, 47.0588235294%, 48.96%);
}

html {
	background-color: hsl(206deg, 60%, 6.875%);
	overflow-x: hidden;
	width: 100vw;
}

body {
	-webkit-animation-name: fade-in;
					animation-name: fade-in;
	-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
	-webkit-animation-duration: 500ms;
					animation-duration: 500ms;
	-webkit-animation-timing-function: ease-out;
					animation-timing-function: ease-out;
	max-width: 1376px;
	min-width: 352px;
	opacity: 1;
}

.content--fullscreen {
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}
.content--fullscreen > canvas {
	cursor: -webkit-grab;
	cursor: grab;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}
.content--fullscreen > canvas:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.marker {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
}

.marker__label {
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-backdrop-filter: blur(2px);
					backdrop-filter: blur(2px);
	background-color: rgba(51, 51, 51, 0.6);
	border: 2px solid hsl(206deg, 60%, 6.875%);
	border-radius: 0.5rem;
	bottom: 0.875rem;
	color: hsl(0deg, 0%, 92%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
/* 	opacity: 0; */
	padding: 0.5rem 1.25rem;
	pointer-events: none;
	position: absolute;
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
	-webkit-transition: opacity 225ms ease-in-out;
	transition: opacity 225ms ease-in-out;
	white-space: nowrap;
	z-index: 2;
}

.marker:hover > .marker__label, .marker:focus-within > .marker__label {
	opacity: 1;
	pointer-events: all;
}

.marker__pointer {
	--scale: 1;
	cursor: pointer;
	height: 3.25rem;
	pointer-events: all;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
	-webkit-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	width: 3.25rem;
	z-index: 1;
}
.marker__pointer::before {
	border-radius: 50%;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}
.marker__pointer::before {
	border: 2px solid hsl(0deg, 0%, 92%);
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.marker.is-behind .marker__pointer::before {
	border-color: red;
}
