// Globally applying styles

// Vars
$primary: '#0070f3';
$secondary: '#f5f5f5';
$tertiary: '#f5f5f5';

.HorizontalDivider {
  display: flex;
  flex-direction: row;
  background-color: blue;
}

.VerticalDivider {
  display: flex;
  flex-direction: column;
  background-color: red;
}

@mixin flex($direction: column) {
  display: flex;
  @if $direction == column {
    flex-direction: $direction;
  }
}

@mixin expand {
  @include flex($direction: none); // Only display flex 
  flex-grow: 1; // Expanding to fill space leads to scroll bars :(
  width: auto;
  height: auto;
}
.Mixin-expand {
  @include expand;
}

@mixin max-content {
  @include flex;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}
.Mixin-max-content {
  @include max-content;
}