<div class="site-nav">
	<a href="/#" tabindex="-1">
		<picture class="site-logo">
			<source srcset="/assets/images/logo-light.png" type="image/png" media="(min-width: 680px)">
			<img src="/assets/images/logo-wrapped-light.png" type="image/png" alt="">
		</picture>
	</a>

	<button class="menu-toggle text--light" type="button" aria-label="Toggle site navigation menu">
		<span class="material-icons md-xl">&#xe5d2;</span>
		<span class="material-icons md-xl">&#xe5cd;</span>
	</button>

	<nav class="menu">
		<ul class="menu__links">
			<li>
				<a class="menu__link" href="#about">About</a>
			</li>
			<li>
				<a class="menu__link" href="#contact">Contact us</a>
			</li>
		</ul>
	</nav>
</div>
