.menu__link {
	display: inline-block;
	font-size: 1.25rem;
	margin: 0.875rem 1.75rem;
}

.menu__items {
  /* display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem; */
}

.menu__item {
  display: inline-block;
  font-size: 1.25rem;
  margin: 0.875rem 1.75rem;
}