// ---------------------------------------------------------------------------------
// _anchor.scss
// ---------------------------------------------------------------------------------

// Anchor
//  ├─ Base
//  ├─ Active
//  └─ Hovered/focused

@use 'sass:math';
@use '../../../_styles/_styles_deps.dev' as deps;
//@use '../_styles_deps.dev.scss' as deps;
/* @use '../dependencies/mixin'; */

//@debug #{deps.$var-color--sparkling-apple};



// ---------------------------------------------------------------------------------
// Anchor
// ---------------------------------------------------------------------------------


// Base ----------------------------------------------------------------------------


// Active --------------------------------------------------------------------------


// Hovered/focused -----------------------------------------------------------------

a {
	display: inline-block;
	text-decoration: none;

	&:focus,
	&:hover,
	&:active {
		color: deps.$var-color--sparkling-apple;
	}
}
