// ---------------------------------------------------------------------------------
// _anchor.scss
// ---------------------------------------------------------------------------------

// Anchor
//  ├─ Base
//  ├─ Active
//  └─ Hovered/focused

@use 'sass:math';
@use '../_styles_deps.dev.scss' as *;
/* @use '../dependencies/mixin'; */




// ---------------------------------------------------------------------------------
// Anchor
// ---------------------------------------------------------------------------------


// Base ----------------------------------------------------------------------------


// Active --------------------------------------------------------------------------


// Hovered/focused -----------------------------------------------------------------

a {
	display: inline-block;
	text-decoration: none;

	&:focus,
	&:hover,
	&:active {
		color: deps-variable.$color--sparkling-apple;
	}
}
