@use '../_styles/styles_deps.dev' as *;

// Container
.panel {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 1.25rem;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity 300ms ease-in;
	transition-delay: 75ms;
	width: 100%;
	z-index: 3;
}

.panel__content {
	backdrop-filter: blur(2px);
	background-color: rgba(51, 51, 51, 0.6);
	border: 2px solid $color--sparkling-apple;
	border-radius: 0.75rem;
	color: $color--plaster;
	max-width: 60ch;
	padding: 1.5rem;
	transform: scale3d(0, 0, 1);
	transition: transform 225ms ease-in-out 75ms;

	@media (min-width: 680px) {
		padding: 1.5rem 2.25rem;
	}
}

.panel:target {
	opacity: 1;
	transition-delay: 0s;

	> .panel__content{
		pointer-events: all;
		transform: scale3d(1, 1, 1);
		transition: transform 225ms ease-in-out 0ms;
	}
}

.panel__header {
	margin-bottom: 1.75rem;
}

.panel__footer {
	margin-top: 1.75rem;
}

.panel__close {
	align-items: center;
	border-radius: 99px;
	display: inline-flex;
	float: right;
	font-weight: bold;
	margin-right: -0.666rem;
	margin-top: -0.666rem;
	transition: opacity 200ms ease-in-out;
	padding: 0.666rem;

	&:hover,
	&:active {
		background-color: rgba(235, 235, 235, 0.25);
	}
}
