// Contains the styling for THREE.js integration code
// Mainly for the canvas' :)
// ONLY generic styling, though!
// NOT specific to globe/Globe.scss !!

@use '../_styles/styles_deps.dev' as deps;


.three-canvas-parent {
  // Ensure expansion
  position: relative;
  width: 100%;
  //height: 100%;
  overflow: hidden;
  flex-grow: 5;
  
  display: flex;
  flex-direction: column;

}
.three-canvas-child {
  flex-grow: 10;
  display: flex;
}