// SHOULD only contain the styles for JUST the nav bar

@use '../_styles/styles_deps.dev.scss' as deps;

@use './dropdown/Dropdown.scss';
@use './icon/Icon.scss';

// site-nav class needs to be handled here!
.site-nav {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.25rem 1.75rem;
	position: relative;
	z-index: 3;

	@media (min-width: 680px) {
		padding: 1.25rem 2.25rem;
	}
}

.site-logo > img {
	display: block;
	filter: drop-shadow(3px 3px 0px #{deps.$var-color--tristsee});
	height: 3.75rem;
	width: auto;

	@media (min-width: 680px) {
		height: 2.25rem;
	}
}